<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileFit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileFit.Properties.Settings>
            <setting name="OpenFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>4707319808</value>
            </setting>
            <setting name="Cluster" serializeAs="String">
                <value>4096</value>
            </setting>
        </FileFit.Properties.Settings>
    </userSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
